@using BH.DIS
@using BH.DIS.WebApp
@using BH.DIS.WebApp.Models
@using BH.DIS.WebApp.Services;
@using BH.DIS.Core.Endpoints;
@using BH.DIS.Core.Events;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@model IEnumerable<IEventType>;
@{
    ViewData["Title"] = "Event Types";
    Layout = "_Layout";
}
<h1>Event Types</h1>
@{
    var namespaceNames = Model.OrderBy(ep => ep.Namespace).Select(ep => ep.Namespace).Distinct();
}
@foreach (var namespaceName in namespaceNames)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @namespaceName
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventType in Model.Where(ep => ep.Namespace.Equals(namespaceName, StringComparison.OrdinalIgnoreCase)).OrderBy(ep => ep.Name))
            {
                <tr>
                    <td>
                        @Html.ActionLink(eventType.Name, "Details", "EventTypes", new { id = eventType.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}